<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= link_to_previous_page @entries, "Назад", class: ['btn', 'btn-default'] %>
  </div>
</div>

<hr />

<% @entries.each do |entry| %>
  <div class="row center-block">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>
        <%= entry.text.html_safe %>
      </h4>
    </div>
    <div class="col-xs-12 col-sm-12-col-md-12 col-lg-12">
      <%= image_tag entry.src_big_url, class: 'img-responsive js-show-image', data: { src: entry.src_big_url } %>
    </div>
  </div>
  <hr />
<% end %>

<hr />

<%= render partial: 'commons/modal' %>

<div class="row">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= link_to_next_page @entries, "Дальше", class: ['btn', 'btn-default'] %>
    </div>
  </div>
</div>
